body{
    background-color:hsl(212, 45%, 89%);
    display:flex; /*by default flex = row */
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.main {
    background-color:hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 375px;
  }

.image{
    width: 100%;
    border-radius: 5%;
    margin-bottom: 20px;
  }
.bold-font{
    font-size: 21px;
    font-style:normal;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color:hsl(218, 44%, 22%);
  }
span{
    color:hsl(220, 15%, 55%);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 16px;
}